body{
    background-color: rgb(87, 126, 126);
}
h2{
    text-align: center;
    background-color: rgb(47, 47, 124);
    margin: auto;
}
#para1{
    margin: 50px;
    text-align: center;
    color: aqua;
    font-size: x-large;
}
p{
    margin: 30px;
}
.class1{
    background-color: brown;
    text-align: center;
    margin-left: 40px;
    margin-right: 40px;
}
div.class1{
    background-position: 50px;
    background-color:aliceblue;
    margin-block: 40px;
    margin-left: 100px;
   padding-bottom: 60px;
}
div{
    width: 40%;
    border-radius: 20%;
    background-color: rgb(126, 54, 54);
    padding: 40px;
    margin: 50px;
}